<div class="custom-container">
  <app-polygon-shape [styleObj]="styleObj">
    <h4 class="top-heading">sonia</h4>
  </app-polygon-shape>

  <br />

  <div style="width: 554px; height: 354px" class="big-outer-box">
    <div class="border-box-top-1"></div>
    <div class="border-box-top-2"></div>

    <div class="border-box-bottom-1"></div>
    <div class="border-box-bottom-2"></div>

    <div
      style="
        width: 550px;
        height: 352px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        border-color: #ddd;
      "
      class="big-box"
    >
      <h2>Welcome,<b>Roger</b></h2>
    </div>

    <div class="big-box-footer">
      <p style="text-align: center; margin: 0px; margin-right: 10px">
        Explore Reception
      </p>
      <div class="icon-outer">
        <span style="color: white" class="material-icons">
          keyboard_arrow_right
        </span>
      </div>
    </div>
  </div>
</div>
